# Customize as needed based on credentials you need
# Cloudant Service Credentials
CLOUDANT_USERNAME=value
CLOUDANT_PASSWORD=value
# API security settings
API_USE_APPID=false
API_APPID_TENANTID=value
